/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* --------------- */
/* General styles */
/* --------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;

    --primary-text-color: #181820;
    --secondary-text-color: #5c5c62;
    --durability-text-color: #6a737d9c;
    --icon-color: #6a737d;
    --border-color: #436ea3d5;
    --text-decoration-color: #004EAF;
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 900px;
}

.fh {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.fv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.resume {
    margin: 50px auto;
    border: 1px solid #f5f5f5;
    -webkit-box-shadow: 1px 1px 7px 7px #f5f5f5;
    box-shadow: 1px 1px 7px 7px #f5f5f5;
    background: ghostwhite;
    padding: 30px 0;
    max-width: 900px;
}

.resume__block {
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 30px;
    margin-bottom: 15px;
}

.main-dec {
    position: relative;
}

.bg-left-top {
    position: absolute;
    left: 0;
    top: 30%;
    z-index: -1;
}

.bg-right-center {
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.bg-right-bottom {
    position: absolute;
    right: 0;
    bottom: -15%;
    z-index: -1;
}

@media (max-width:1199px) {

    .bg-left-top,
    .bg-right-center,
    .bg-right-bottom {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    .main-info,
    .contact_info_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .contact_info_container {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .contact-info__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .experiences {
        margin-right: 0;
    }
}

@media (min-width:1200px) {

    .contact-info__item:hover {
        color: var(--text-decoration-color)
    }

    .contact-info__item:hover .contact-info__item-icon path {
        fill: var(--text-decoration-color)
    }
}

/* -------------------- */
/* Contact info styles */
/* -------------------- */
.contact-info__header,
.contact-info__sub-header {
    text-align: center;
}

.contact-info__header {
    color: var(--primary-text-color);
    margin-bottom: 15px;
    -webkit-text-decoration-color: var(--text-decoration-color);
    text-decoration-color: var(--text-decoration-color);
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

.contact-info__sub-header {
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}

.contact-info__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.contact-info__block--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.contact-info__item {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.contact-info__item:not(:last-child) {
    margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
    margin-right: 10px;
    width: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contact-info__item-icon path {
    fill: var(--icon-color);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.contact-info__item-icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.contact-info__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    -o-object-fit: cover;
    object-fit: cover;
    border: 3px solid;
    border-color: var(--text-decoration-color);
}

/* -------------------------- */
/* Intro and skills styles */
/* ------------------------ */
.intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
}

.intro__icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.intro__icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.intro__icon path {
    fill: var(--text-decoration-color);
}

.intro_text {
    color: var(--secondary-text-color);
    text-align: justify;
}

.skills__header {
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 15px;
}

.skills_wrapp {
    margin-left: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.skills_wrapp-item:first-child{
    margin-right: 20px;
}
.skills_wrapp-item li{
    font-size: 18px;
    color: var(--primary-text-color);
}
.skills_wrapp-item li::marker{
    color: #004EAF;
}
.skills__text {
    font-size: 18px;
    color: var(--primary-text-color);
}

/* ------------------------------------- */
/* Experience and additonal info styles */
/* ------------------------------------ */
.experiences {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
    margin-right: 50px;
}

.experiences__header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.experiences__company-header-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.experiences__company-header-name {
    color: var(--primary-text-color);
    -webkit-text-decoration-color: var(--text-decoration-color);
    text-decoration-color: var(--text-decoration-color);
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    text-align: left;
    margin-bottom: 20px;
}

.experiences__company-project {
    margin-left: 15px;
    margin-bottom: 25px;
}

.experiences__company-project-role {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.experiences__company-project-name {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
}

.experiences__company-project-responsibilities {
    color: var(--secondary-text-color);
    padding-left: 20px;
}

.additional-info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
}

.additional-info__education {
    margin-bottom: 20px;
}

.additional-info__education-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__education-university-durability {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.additional-info__education-university-speciality {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
}

.additional-info__education-university-name {
    color: var(--secondary-text-color);
}

.additional-info__languages {
    margin-bottom: 20px;
}

.additional-info__languages-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__languages-item {
    color: var(--secondary-text-color);
}